// Body
$body-bg: #FFCF99;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$primary: #874000;
$secondary: #004934;
$success: #41521F;
$danger: #FFD82B;
$warning: #000;
$info: #B02E0C;
$light: #FFF8F0;
$dark: #31081F;

